[submodule "wp-content/themes/reverie"]
	path = wp-content/themes/reverie
	url = https://github.com/pixleight/reverie.git
[submodule "wp-content/themes/intranet"]
	path = wp-content/themes/intranet
	url = https://github.com/pixleight/reverie-child.git
